/* 기본 컨테이너 스타일 */
.mypage-container {
  font-family: Arial, sans-serif;
  padding: 3rem 5rem;
  width: 100vw;
  background-color: #f9f9f9;
}

/* 직업 카드 스타일 */
.job-card {
  display: flex;
  background-color: #fff;
  border-radius: 8px;
  padding: 2rem 2rem;
  margin-bottom: 3rem;
}

.job-image {
  width: 80%;
  height: auto;
  background-color: #eaeaea;
  border-radius: 1.7rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.job-info h2 {
  font-size: 1.5rem;
  margin: 0;
  margin-top: 3rem;
  margin-bottom: 1.5rem;

  color: #000;
  font-family: NanumSquareRound;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.06563rem;
}

.job-info .edit-button {
  background: none;
  border: none;
  cursor: pointer;

  color: var(--text-lightgre, #afafaf);
  font-family: NanumSquareRound;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.02813rem;
}

.job-info .school-info,
.job-info .total-asset,
.job-info .credit-grade {
  margin: 1rem 0rem;

  color: var(--text, #3c3530);
  font-family: NanumSquareRound;
  font-size: 1rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.0375rem;
}

.job-info .credit-grade-n {
  color: red;
  font-weight: bold;
}

/* 내 자산 섹션 */

.asset-section h3,
.certificate-section h3 {
  color: #000;
  font-family: NanumSquareRound;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.05063rem;
}
.asset-section,
.certificate-section {
  margin-bottom: 2rem;
}

.asset-items,
.certificate-items {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}

.asset-item {
  background: white;
  width: 18rem; /* 적당한 너비 */
  height: 10rem; /* 이미지 비율 유지 */
  border-radius: 10px; /* 둥근 모서리 */
  display: block; /* 이미지 블록 요소로 설정 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}

.certificate-item {
  width: 18rem; /* 적당한 너비 */
  height: auto; /* 이미지 비율 유지 */
  border-radius: 10px; /* 둥근 모서리 */
  display: block; /* 이미지 블록 요소로 설정 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}

.asset-title {
  color: #8a8a8a;
  font-family: NanumSquareRound;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.04688rem;

  padding-left: 1rem;
}

.asset-balance {
  padding-left: 7rem;
  padding-top: 2rem;
  color: #8a8a8a;
  font-family: NanumSquareRound;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.02813rem;
}

.asset-balance span {
  color: #000;
  font-family: NanumSquareRound;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.05625rem;
}

.stock-link {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}
