@font-face {
  font-family: "NanumSquareRound";
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/NanumSquareRoundR.ttf") format("truetype");
}

@font-face {
  font-family: "NanumSquareRound";
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/NanumSquareRoundB.ttf") format("truetype");
}

@font-face {
  font-family: "NanumSquareRound";
  font-weight: 800;
  font-display: swap;
  src: url("../assets/fonts/NanumSquareRoundEB.ttf") format("truetype");
}
