header {
  background-color: white;
  align-items: center;
  margin: 0;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly; /* 아이템들 간에 균등한 공간을 배치 */
  align-items: center;
  padding: 0;
  margin: 0;
}

#funnypenny-logo-red {
  color: #e74343;
  font-family: LaundryGothicOTF;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.05625rem;
  padding: 1rem 0rem 1.2rem 3rem;
}

#funnypenny-logo-green {
  color: #a7d26b;
}

.header-nav {
  margin: 0rem 5rem;
  padding: 0rem 5rem;
}
.header-nav p {
  margin: 0;
  padding: 0.5rem 0rem 1rem 0rem;
}
.header-nav-li {
  color: var(--text, #a7a7a7);
  font-family: NanumSquareRound;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.05625rem;
  text-align: center;

  text-decoration: none;
  align-items: center;
  padding: 0rem 0rem;
}

.header-nav-li img {
  width: 2rem;
  height: 2rem;

  align-items: center;
}
